.footer {
	background-color: #f7f7f7;
	&__row {
		display: flex;
		padding: 100px 0;
		align-items: center;
	}
	&__column {
		flex: 0 1 33.333%;
	}
	&__adress {
		padding: 0 20px 0 0;
		color: #848789;
		font-size: 14px;
		line-height: 18px;
		font-style: italic;
		p {
			&:first-child {
				font-style: normal;
				font-weight: 700;
			}
		}
	}
	&__social {
	}
	&__dev {
	}

	@media (max-width: 1100px) {
		&__row {
			padding: 50px 0;
		}
	}
	@media (max-width: 600px) {
		&__row {
			padding: 30px 0;
			flex-direction: column;
			text-align: center;
		}
		&__adress {
			padding: 0;
		}
		&__social {
			margin: 15px 0;
		}
	}
}
.social {
	display: flex;
	justify-content: center;
	align-items: center;
	&__link {
		margin: 0 7.5px;
	}
}
.dev {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	&__text {
		color: #848789;
		font-size: 14px;
		padding: 0 9px 0 0;
	}
	&__icon {
	}
}
