@import '_nullstyle';
//-------------------------------------------
@import '_ui';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import '_header';
@import '_footer';
//--------------------------------------------
body {
	font-family: 'Lato';
}
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
.container {
	// max-width: 1100px;
	// make spaces between margin
	max-width: 1130px;
	padding: 0px 15px;
	margin: 0 auto;
}
.page {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
}
.main-screen {
	flex: 1 0 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}
.content {
}
//===========================================
.generation {
	padding: 120px 0;
	background-color: #f7f7f7;
	@media (max-width: 900px) {
		padding: 80px 0;
	}
	@media (max-width: 600px) {
		padding: 30px 0;
	}
	&__block {
	}
}
.block {
	text-align: center;
	&__icon {
		margin: 0 0 30px 0;
	}
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		line-height: 24px;
		text-transform: uppercase;
		letter-spacing: 3.6px;
		margin: 0 0 18px 0;
	}
	&__text {
		color: #888789;
		font-size: 18px;
		line-height: 34px;
		&_j {
			text-align: justify;
			font-size: 16px;
			line-height: 30px;
			&::after {
				content: '';
				display: block;
				margin: 35px auto 0px auto;
				width: 50px;
				height: 1px;
				background-color: #ebebeb;
			}
		}
	}
	@media (max-width: 1500px) {
		&__text {
			&_j {
				&::after {
					margin: 15px auto 0px auto;
				}
			}
		}
	}
}
//===========================================
.brands {
	&_rev {
		.brands__column {
			order: 1;
			&_b {
				order: 2;
			}
		}
	}
	&__row {
		display: flex;
	}
	&__column {
		flex: 0 1 33.333%;
		&_b {
			flex: 0 1 66.667%;
		}
	}
	&__item {
	}
	&__content {
		padding: 70px 65px 55px 65px;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			margin-left: -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #fff;
			z-index: 2;
		}
	}
	&__image {
		padding: 0 0 37.51% 0; // making image responsive to width
	}
	@media (max-width: 1500px) {
		&__content {
			padding: 40px 35px 30px 35px;
		}
	}

	@media (max-width: 1100px) {
		&_last {
			.brands__column {
				&:nth-child(1) {
					order: 2;
				}
				&:nth-child(2) {
					order: 1;
				}
				&:nth-child(3) {
					order: 3;
				}
			}
		}
		&__row {
			flex-direction: column;
		}
	}
}
.item {
	height: 100%;
	display: block;
	position: relative;
	&__logo {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column; //for text in span shop now
		transition-duration: 0.3s;
		justify-content: center;
		align-items: center;
		background-color: rgba(100, 194, 158, 0.5);
		z-index: 2;
		opacity: 0;
		visibility: hidden;
		span {
			margin: 10px 0 0 0;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2.8px;
			display: block;
			text-transform: uppercase;
			color: #fff;
		}
	}
	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
	&:hover {
		.item__logo {
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 1100px) {
		height: auto;
		padding-bottom: 70%; // making image responsive to width
	}
}
//==================================
.slider {
	background-color: #f7f7f7;
	padding: 120px 0 60px 0;
	&__body {
		.slick-dots {
			padding-top: 100px; //between buttons and text
			display: flex;
			justify-content: center;
			align-items: center;
			li {
				margin: 0px 5px; //between buttons
				button {
					font-size: 0;
					width: 11px;
					height: 11px;
					border-radius: 50%;
					border: 1px solid #c8c8c8;
					background-color: transparent;
				}
				&.slick-active {
					button {
						background-color: #a9afb3;
					}
				}
			}
		}
	}
	&__item {
		text-align: center;
	}
	&__icon {
		margin-bottom: 35px;
	}
	&__title {
		color: #353738;
		font-size: 18px;
		font-weight: 700;
		margin-bottom: 20px;
		span {
			font-weight: 300;
			color: #888789;
		}
	}
	&__text {
		// text-align: center;
		color: #888789;
		font-size: 24px;
		font-style: italic;
		line-height: 34px;
	}
}
//============================================
.shop {
	&__body {
		display: flex;
	}
	&__column {
		flex: 0 1 16.666%;
		&_b {
			flex: 0 1 33.333%;
		}
	}
	&__block {
	}
	&__footer {
		padding: 75px 0;
		text-align: center;
		background-color: #282f35;
	}
	&__btn {
		display: inline-block;
		height: 50px;
		line-height: 48px;
		letter-spacing: 2.8px;
		color: #fff;
		padding: 0px 60px;
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	@media (max-width: 1100px) {
		&__body {
			flex-wrap: wrap;
		}
		&__column {
			flex: 0 1 50%;
			&:first-child,
			&:last-child {
				flex: 1 1 100%;
			}
		}
		&__footer {
			padding: 50px 0;
		}
		&__btn {
			padding: 0px 30px;
		}
	}
}
.block-shop {
	height: 100%;
	&__row {
		display: flex;
	}
	&__column {
		flex: 0 1 50%;
	}
	&__item {
		height: auto;
		padding: 0px 0px 50% 0px;
		&_b {
			padding: 0px 0px 200.5% 0px;
		}
		&_l {
			padding: 0px 0px 100% 0px;
		}
	}
}
//===========================================
.subscribe {
	&__body {
		padding: 110px 0;
		max-width: 534px;
		margin: 0 auto;
		text-align: center;
	}
	&__logo {
		padding-bottom: 39px;
	}
	&__label {
		color: #848789;
		font-size: 24px;
		font-style: italic;
		margin-bottom: 35px;
	}
	&__form {
		display: flex;
	}
	&__input {
		flex: 1 1 auto;
		padding: 0 8px 0 0;
		.input {
			width: 100%;
			height: 69px;
			border: 1px solid #d3d7d9;
			background-color: #fff;
			padding: 0px 28px;
			color: #929292;
			font-size: 20px;
			font-style: italic;
			&.focus {
				font-style: normal;
				color: #333;
			}
			&.err {
				border: 1px solid red;
			}
		}
	}
	&__button {
		flex: 0 0 126px;
	}
	&__btn {
		width: 100%;
		height: 69px;
		line-height: 69px;
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
		font-weight: 300;
		background-color: #62c29e;
	}
	@media (max-width: 750px) {
		&__body {
			padding: 50px 0;
		}
	}
	@media (max-width: 500px) {
		&__form {
			// flex-direction: column;
			display: block;
		}
		&__input {
			padding: 0 0 8px 0;
		}
	}
}
